body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin:0; padding:0 }
body, button, input, select, textarea{ font:12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif }

.warp{width:960px; margin:0 auto; overflow:hidden;}
.full{float:left; display:inline;  margin-right:16px; margin-top:20px; overflow:hidden; width:800px;}
.water
{
	width:700px;
	border:1px solid #cccccc; 
	padding:13px; 
	overflow:hidden;
	margin-bottom:30px;
	margin-left:10px;
	margin-top:10px;
	
	background-color:#eeeeee;
	-webkit-box-shadow:4px 4px 8px 8px rgba(0,0,0,.5); 
	-moz-box-shadow:4px 4px 8px 8px rgba(0,0,0,.5);
	box-shadow:4px 4px 8px 8px rgba(0,0,0,.5);
}
.water a{ border:none;}
.water a img{ border:none;}
.title{ color:#878787;}
.last{margin-right:0;}
